*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    background-color: #ece4ca;
    margin: 0.5em;
}

.container > *{
    border: 1px solid #ff0000;
    padding: 1em;
    color: #0000ff;
    background-color: #e9d594;
    margin-bottom: 1em;
    border-radius: 1em;
}

ul li{
    list-style: none;
}

main h2{
    margin-top: 1em;
    margin-bottom: 1em;
}

@media (min-width: 640px){
    .container{
        display: flex;
        flex-wrap: wrap;
    }

    header, nav{
        flex-basis: 100%;
        order: -1;
    }

    ul{
        display: flex;
        justify-content: space-between;
    }

    .sidebar{
        flex-basis: 30%;
        order: -1;
        margin-right: 1em;
    }

    main{
        flex-basis: 68%;
    }

    .advert{
        flex-basis: 30%;
        margin-right: 1em;
    }

    footer{
        flex-grow: 1;
    }

    .container footer, .advert{
        margin-bottom: 0;
    }
}

@media (min-width: 1024px){
    .container > *{
        color: #ff0000;
    }

    nav{
        flex-basis: 20%;
        margin-right: 1em;
    }

    ul{
        flex-direction: column;
    }

    main{
        flex-basis: 56%;
        order: -1;
        margin-right: 1em;
    }

    .sidebar, .advert{
        margin-bottom: 1em;
        margin-right: 0;
        display: flex;
        flex-basis: 20%;
        height: 4.7em;
    }

    .sidebar{
        flex-grow: 1;
    }

    footer{
        flex-basis: 100%;
    }
}
