*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    background-color: #ece4ca;
    margin: 0.5em;
}

.container > *{
    border: 1px solid #ff0000;
    padding: 1em;
    color: #0000ff;
    background-color: #e9d594;
    margin-bottom: 1em;
    border-radius: 1em;
}

ul li{
    list-style: none;
}

main h2{
    margin-top: 1em;
    margin-bottom: 1em;
}