*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    display: grid;
    grid-template-rows: repeat(2, auto) 12.3em repeat(3, auto);
    background-color: #ece4ca;
    margin: 0.5em;
}

.container > *{
    border: 1px solid #ff0000;
    padding: 1em;
    color: #0000ff;
    background-color: #e9d594;
    margin-bottom: 1em;
    border-radius: 1em;
    display: grid;
    align-items: center;
}

main{
    grid-template-rows: 55% 45%;
}

nav li{
    list-style: none;
}

.container footer{
    margin-bottom: 0;
}

@media (min-width: 640px){
    .container{
        grid-template-columns: 30% 1fr;
        grid-template-rows: repeat(2, auto) 11.3em auto;
        column-gap: 1em;
    }

    header{
        grid-area: 1/1/2/-1;
    }

    nav{
        grid-area: 2/1/3/-1;
    }

    ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    li:nth-of-type(2){
        text-align: center;
    }

    li:nth-of-type(3){
        text-align: end;
    }

    main{
        grid-area: 3/2/4/-1;
        grid-template-rows: 60% 40%;
    }

    .sidebar{
        grid-area: 3/1/4/2;
        align-items: start;
    }

    .container .advert{
        margin-bottom: 0em;
    }
}

@media (min-width: 1024px){
    .container{
        grid-template-columns: 20% 1fr 20%;
        grid-template-rows: auto 5.4em 5.4em auto;
    }

    .container > *{
        color: #ff0000;
    }

    nav{
        grid-area: 2/1/4/2;
    }
    
    ul{
        grid-template-columns: 1fr;
        justify-self: left;
        align-self: start;
    }
    
    main{
        grid-area: 2/2/4/3;
    }

    .sidebar{
        grid-area: 2/3/3/-1;
    }

    .container .advert{
        margin-bottom: 1em;
        grid-area: 3/3/4/-1;
        align-items: start;
    }

    footer{
        grid-area: 5/1/6/-1;
    }

}