*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    display: grid;
    grid-template-rows: 4.3em 6.5em 12.4em repeat(2, 4.3em) 3.3em;
    background-color: #ece4ca;
    margin: 0.5em;

}

.container > *{
    border: 1px solid #ff0000;
    padding: 1em;
    color: #0000ff;
    background-color: #e9d594;
    margin-bottom: 1em;
    border-radius: 1em;
    display: grid;
    align-items: center;
}

main{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

nav li{
    list-style: none;
}

footer{
    height: 3.3em;
}